<section class="my-4">
  <div class="container">
    <form [formGroup]='addRole' (ngSubmit)='submitRole()'>
      <div class='roleInput w-25'>
        <label for="f-name" class="form-label">Role Name</label>
        <input type="text" class="form-control" id="f-name" formControlName='roleName'>
        <div class="text-danger my-2"
          *ngIf="addRole.get('roleName')?.errors != null && addRole.get('roleName')?.touched">
          <p *ngIf='addRole.get("roleName")?.errors?.required'>Role Name is required</p>
          <p *ngIf='addRole.get("roleName")?.errors?.minlength'>Min characters: 3 </p>
          <p *ngIf='addRole.get("roleName")?.errors?.maxlength'>Max characters: 10 </p>
        </div>
      </div>

      <div class="permissions my-4" formArrayName='permissions'>
        <div class="form-check form-check-block" *ngFor="let permission of listPermissions , index as i">
          <input class="form-check-input" type="checkbox" [id]="permission.name" [formControlName]="i"
            [value]="permission.value">
          <label class="form-check-label" [for]="permission.name">{{permission.name}}</label>
        </div>
        <!-- (click)="filterResults($event)" [value]='permission.value' -->
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-danger me-2" *ngIf="this._RolesDataService.checkEditRole"
          (click)='deleteRole()'>Delete Role</button>
        <button type="button" class="btn btn-warning me-2" (click)='cancel()'>Cancel</button>
        <button [disabled]='addRole.invalid' type="submit" class="btn btn-primary me-2">Save</button>

      </div>
    </form>
  </div>
</section>
