<section>
  <div class="container">

    <table class="table w-50">
      <thead>
        <tr>
          <th>Permission Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor='let permission of objPermission | keyvalue'>
          <tr *ngIf="permission.key != 'roleName'">
            <td>{{permission.key}}</td>
            <td><a class='btn btn-warning' (click)="editPermission()">Edit</a></td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</section>
